*{
    font-family: Arial, Helvetica, sans-serif;
}

.outer-container{
    border: 5px solid orangered;
    padding: 30px 0px;
    background-color: rgb(23, 201, 49);
}

.inner-container{
    border: 3px solid orangered;
    background-color: pink;
    padding: 30px;
}

.content-container{
    margin: 30px;
}